@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in-up {
    animation: fadeInUp 0.8s ease-out forwards;
}

.delay-100 {
    animation-delay: 0.1s;
}

.delay-200 {
    animation-delay: 0.2s;
}

.delay-300 {
    animation-delay: 0.3s;
}

.delay-400 {
    animation-delay: 0.4s;
}

.delay-500 {
    animation-delay: 0.5s;
}

.delay-600 {
    animation-delay: 0.6s;
}


.radial-gradient-bg {
    background: radial-gradient(at top, rgba(17, 24, 39, 0.4) 0%, transparent 70%),
        radial-gradient(at bottom left, rgba(20, 30, 60, 0.4) 0%, transparent 70%),
        #000000;
    background-attachment: fixed;
    
}


html {
    scroll-behavior: smooth;
}